# 2025ë…„ 5ì›” 19ì¼ ê¸ˆìš”ì¼ (17ì¼ì°¨)
joinì„ ê²¨ìš° ì´í•´í–ˆë‹¤. ì„œë¸Œì¿¼ë¦¬ë¶€í„° ì´í•´í•  ìˆ˜ ì—†ì—ˆë‹¤. ì•„ë¬´ë¦¬ ë´ë„ ì™œ ì´ë ‡ê²Œ ë˜ëŠ”ì§€ ëª¨ë¥´ê² ë‹¤... í˜ë“¤ë‹¤. ë‹¤ì‹œ ê³µë¶€í•´ì•¼ê² ë‹¤ ã…œã…œ


<br><br><br>

# ğŸ“œ ëª©ì°¨
- MySQL
  - ì œì•½ì¡°ê±´
    - Primary Key
    - Foreign Key
  - join
    - inner join
    - left join
  - SubQuery (í•˜ìœ„ ì§ˆì˜)
    - correlated subquery (ìƒê´€ ì„œë¸Œì¿¼ë¦¬)
  - Group By
    

<br><br><br><br>

# ğŸŸ© DB SQL with MySQL (2ì¼ì°¨)

<br><br><br><br>

# ğŸŸ© ì œì•½ì¡°ê±´ 

### ğŸŸ¡ primary key 
- ì¤‘ë³µ ì•ˆë˜ê³  Nullê°’ì„ ê°–ì§€ ì•Šì•„ì•¼ í•œë‹¤. ì´ ì¡°ê±´ì„ ë§Œì¡±í•´ì•¼ë§Œ promary keyë¥¼ ì¤„ ìˆ˜ ìˆë‹¤.
- ex) íšŒì› ì•„ì´ë”” - ì˜ˆì „ì—ëŠ” íšŒì›ì•„ì´ë””ë¥¼ primary keyë¡œ í•œë‹¤.. ìˆ˜ì •ë¶ˆê°€
  - ì•„ì´ë”” ë³€ê²½ ê°€ëŠ¥í–ˆë˜ ì‚¬ì´íŠ¸ë“¤ì€ ë³„ë„ì˜ ì¼ë ¨ë²ˆí˜¸ë¥¼ ë¶€ì—¬í•´ì„œ ê·¸ ì¼ë ¨ë²ˆí˜¸ë¥¼ primaryë¡œ í•˜ê³ , íšŒì› ì•„ì´ë””ë¥¼ unique-keyë¥¼ ì¤€ë‹¤.
  - unique ì œì•½ì¡°ê±´ì€ ì¤‘ë³µì€ í—ˆìš©í•˜ì§€ ì•Šì§€ë§Œ, nullê°’ì€ í—ˆìš©
- ê²°ë¡ ì ìœ¼ë¡œ í…Œì´ë¸”ì˜ primary keyëŠ” í•˜ë‚˜ë§Œ ì¤„ ìˆ˜ ìˆë‹¤. 
  - í•˜ì§€ë§Œ ì—¬ëŸ¬ê°œì˜ í•„ë“œë¥¼ ë¬¶ì–´ì„œ í•˜ë‚˜ì˜ primary keyë¥¼ ì§€ì •í•˜ëŠ” ê²½ìš°ë„ ìˆë‹¤.
  
| í•­ëª©              | ì„¤ëª…                                                                                                                                                                   |
| --------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| ì •ì˜              | í…Œì´ë¸”ì—ì„œ ê° í–‰(row)ì„ **ê³ ìœ í•˜ê²Œ ì‹ë³„**í•  ìˆ˜ ìˆëŠ” ì»¬ëŸ¼ ë˜ëŠ” ì»¬ëŸ¼ë“¤ì˜ ì§‘í•©                                                                                                                      |
| ì¡°ê±´              | <ul><li>**ì¤‘ë³µ ë¶ˆê°€**</li><li>**NULL ë¶ˆê°€**</li></ul> ì´ ë‘ ê°€ì§€ ì¡°ê±´ì„ ë°˜ë“œì‹œ ë§Œì¡±í•´ì•¼ Primary Keyë¡œ ì§€ì • ê°€ëŠ¥                                                                               |
| ê°œìˆ˜ ì œí•œ           | í…Œì´ë¸”ë‹¹ **Primary KeyëŠ” 1ê°œë§Œ ì§€ì • ê°€ëŠ¥**                                                                                                                                      |
| ë³µí•© í‚¤            | 2ê°œ ì´ìƒì˜ ì»¬ëŸ¼ì„ ë¬¶ì–´ í•˜ë‚˜ì˜ Primary Keyë¡œ ì„¤ì •í•  ìˆ˜ ìˆìŒ (ë³µí•© ê¸°ë³¸í‚¤, Composite Key)                                                                                                      |
| ì˜ˆì‹œ              | <ul><li>íšŒì› í…Œì´ë¸”ì—ì„œ `íšŒì›ì•„ì´ë””`ë¥¼ Primary Keyë¡œ ì„¤ì •í•˜ëŠ” ê²½ìš°ê°€ ë§ìŒ</li><li>í•˜ì§€ë§Œ ì•„ì´ë””ë¥¼ ë³€ê²½ ê°€ëŠ¥í•˜ê²Œ í•˜ê³  ì‹¶ë‹¤ë©´, \*\*ë‚´ë¶€ ì‹ë³„ìš© ì¼ë ¨ë²ˆí˜¸(id)\*\*ë¥¼ Primary Keyë¡œ ì„¤ì •í•˜ê³ , `íšŒì›ì•„ì´ë””`ëŠ” `UNIQUE` ì œì•½ì¡°ê±´ì„ ë¶€ì—¬</li></ul> |
| Unique ì œì•½ì¡°ê±´ê³¼ ì°¨ì´ | <ul><li>**UNIQUE**: ì¤‘ë³µ ë¶ˆê°€í•˜ì§€ë§Œ, **NULLì€ í—ˆìš©ë¨**</li><li>**PRIMARY KEY**: ì¤‘ë³µë„ ì•ˆ ë˜ê³ , NULLë„ ì•ˆ ë¨</li></ul>                                                                   |
| ìˆ˜ì • ê°€ëŠ¥ì„± ê³ ë ¤       | Primary KeyëŠ” **ê°€ëŠ¥í•˜ë©´ ìˆ˜ì •ë˜ì§€ ì•ŠëŠ” ê°’**ì„ ì„ íƒí•´ì•¼ í•¨<br>(íšŒì›ì•„ì´ë””ëŠ” ë³€ê²½ë  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ë‚´ë¶€ idë¥¼ ì‚¬ìš©í•˜ëŠ” ê²Œ ì¼ë°˜ì )                                                                                     |

In [ ]:
-- < primary key >
-- emp í…Œì´ë¸”ì˜ ì •ë³´ë¥¼ í™•ì¸í•˜ê³  primary keyê°€ ì¡´ì¬í•˜ë©´ ì‚­ì œí•˜ë ¤ê³  í•œë‹¤.
USE mydb;

SELECT * FROM emp LIMIT 10;
DESC emp;  -- empno ê°€ PRIMARYì„

INSERT INTO emp(empno, ename) VALUES (8011, 'ì¥ê¸¸ì‚°');

ALTER TABLE emp DROP PRIMARY KEY;

DESC emp;  -- empno ê°€ PRIMARYì„
INSERT INTO emp(empno, ename) VALUES (8011, 'ì¥ê¸¸ì‚°');

SELECT * FROM emp;
 
-- primary key ì§€ì •ì€ ë¶ˆê°€ëŠ¥í•˜ë‹¤. ì´ìœ : empno í•„ë“œê°‘ì´ ì´ë¯¸ ì¤‘ë³µ ì¡´
ALTER TABLE emp ADD CONSTRAINT pk_emp primary KEY (empno)
-- emp í…Œì´ë¸”ì˜ ê¸°ë³¸ í‚¤ë¡œ ì„¤ì •ëœ ì»¬ëŸ¼(ì˜ˆ: empno)ì— ì´ë¯¸ 8011ì´ë¼ëŠ” ê°’ì´ ì¡´ì¬í•˜ëŠ”ë°,
-- ë‹¤ì‹œ ë™ì¼í•œ ê°’ì„ ë„£ìœ¼ë ¤ í•´ì„œ ë°œìƒí–ˆìŠµë‹ˆë‹¤.

DELETE FROM emp WHERE empno = 8011 AND ename = 'ì¥ê¸¸ì‚°';

SELECT * FROM emp;

ALTER TABLE emp ADD CONSTRAINT pk_emp PRIMARY key(empno);

-- ê°‘ìê¸° ì„¤ì •ì„ ë³€ê²½???  edit - preference - sql editor - í•˜ë‹¨ì— safe updates ì²´í¬ í•´ì œí•˜ê³  ì¬ì‹œì‘
DELETE FROM emp WHERE empno = 8011 AND ename = 'ì¥ê¸¸ì‚°';

SELECT * FROM emp;

ALTER TABLE emp ADD CONSTRAINT pk_emp PRIMARY KEY(empno);

In [ ]:
-- primary key ì¶”ê°€ ì‚­ì œ - mysql
-- alter ìˆ˜ì •í•  ë•Œ
-- primary key ì‚­ì œëª…ë ¹ì–´ - mysqlë§Œ ê°€ëŠ¥ 
alter table í…Œì´ë¸”ëª… drop primary key;
-- primary key ì¶”ê°€ ëª…ë ¹ì–´ - mysqlë§Œ 
alter talble í…Œì´ë¸”ëª… add constraint í‚¤ì´ë¦„ primary key(í•„ë“œëª…);


### ğŸŸ¡ foreign key (ì™¸ë¶€í‚¤)
- í…Œì´ë¸”ê³¼ í…Œì´ë¸”ì˜ ê´€ê³„ì„±ì— ì…ê°í•´ì„œ ìƒí˜¸ ì œì•½ì„ ê°€í•˜ê³ ì í•  ë•Œ.
- í…Œì´ë¸”ì„ ë‚˜ëˆ„ëŠ” êµ¬ì¡° (ì œ 1 ì •ê·œí™”, ì œ 2 ì •ê·œí™”, BNF ì •ê·œí™”)
- ì‹¤ë¬´ì—ì„œ ë°”ë¼ë³¼ ë•Œ 1 : Nì˜ ê´€ê³„
- ê³ ìš©ì¸, ë¶€ì„œí…Œì´ë¸” 
  - ê° ì§ì›ë§ˆë‹¤ ë¶€ì„œëª…ì„ ë”°ë¡œ ì €ì¥í•˜ê²Œë˜ë©´ ë©”ëª¨ë¦¬ê°€ ë§ì´ ë“ ë‹¤.
  - ë¶€ì„œëª… ë°”ê¿€ ë•Œë§ˆë‹¤ ì§ì›ë§ˆë‹¤ ë¶€ì„œëª… ë°”ê¾¸ëŸ¬ ë‹¤ë‹Œë‹¤. (ì˜¤ë²„í—¤ë“œ (ì“¸ ë•Œ ì—†ëŠ” ì¼))
    - ë§Œì•½ í•œëª… ë¹¼ê³  ë°”ê¾¸ë©´ ì´ ì‚¬ëŒì€ ë¶€ì„œê°€ ì—†ëŠ” ì‚¬ëŒì´ ëœë‹¤.
  - ì¼ê´€ì„±ì´ ì—†ë‹¤.
  - í…Œì´ë¸”ì„ ë‚˜ëˆ„ê²Œ ë˜ë©´ -> ë©”ëª¨ë¦¬ ë¶€ì¡± í•´ê²°, ë¶€ì„œì½”ë“œë§Œ ì €ì¥í•˜ì—¬ ì¤‘ë³µì„ ì¤„ì„.

- emp í…Œì´ë¸”ì˜ depno |  dept í…Œì´ë¸”ì˜ deptno (primary ë˜ëŠ” unique)
  - emp í…Œì´ë¸”ì—ì„œ forign keyë¥¼ dep í…Œì´ë¸”ì— ê±¸ì–´ì¤€ë‹¤.
  - emp í…Œì´ë¸”ì˜ deptno í•„ë“œì—ëŠ” deptí…Œì´ë¸”ì˜ deptno í•„ë“œ ë‚´ì— ìˆëŠ” ê°’ë§Œ ì—ì„ ìˆ˜ ìˆë‹¤. (ë¶€ì„œë²ˆí˜¸ê°€ 10, 20, 30, 40)
  - emp í…Œì´ë¸”ì˜ ë¶€ì„œë²ˆí˜¸ 50 ë„£ìœ¼ë©´ ê·¸ëŸ° ë¶€ì„œë²ˆí˜¸ê°€ ì—†ë‹¤ê³  ì—ëŸ¬ë²ˆí˜¸ê°€ ëœ¹ë‹ˆë‹¤.
  - dept í…Œì´ë¸” ì…ì¥ì—ì„œëŠ” ë¶€ì„œë²ˆí˜¸ ì‚­ì œ ë¶ˆê°€ëŠ¥  ->  ì´ë¯¸ ì‚¬ìš©ì¤‘ì¸ ë¶€ì„œë²ˆí˜¸ ì‚­ì œ ë¶ˆê°€

| í•­ëª©        | ì„¤ëª…                                                                                                                         |
| --------- | -------------------------------------------------------------------------------------------------------------------------- |
| ì •ì˜        | í•œ í…Œì´ë¸”ì´ ë‹¤ë¥¸ í…Œì´ë¸”ì˜ **ê¸°ë³¸ í‚¤(PK)** ë˜ëŠ” \*\*ê³ ìœ  í‚¤(UNIQUE)\*\*ë¥¼ ì°¸ì¡°í•˜ì—¬ ê´€ê³„ë¥¼ ë§ºëŠ” ì œì•½ì¡°ê±´                                                      |
| ëª©ì         | <ul><li>**í…Œì´ë¸” ê°„ ê´€ê³„ í˜•ì„±** (ì˜ˆ: ê³ ìš©ì¸ â†” ë¶€ì„œ)</li><li>**ë°ì´í„° ë¬´ê²°ì„± ë³´ì¥** (ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ê°’ ì‚½ì… ë°©ì§€)</li></ul>                                   |
| ì •ê·œí™”ì™€ì˜ ê´€ë ¨ì„± | <ul><li>**1NF, 2NF, BCNF** ì •ê·œí™” ê³¼ì •ì—ì„œ í…Œì´ë¸”ì„ ë¶„ë¦¬í•¨</li><li>ë¶„ë¦¬ëœ í…Œì´ë¸” ê°„ ê´€ê³„ë¥¼ Foreign Keyë¡œ ì—°ê²°</li></ul>                               |
| ê´€ê³„ ì˜ˆì‹œ     | ì‹¤ë¬´ì—ì„œ ìì£¼ ì‚¬ìš©í•˜ëŠ” **1\:N ê´€ê³„**<br>ì˜ˆ: í•˜ë‚˜ì˜ ë¶€ì„œ(1)ì— ì—¬ëŸ¬ ëª…ì˜ ì§ì›(N) ì†Œì†                                                                   |
| ì™¸ë˜ í‚¤ ì¡°ê±´   | <ul><li>ì™¸ë˜ í‚¤ëŠ” ë°˜ë“œì‹œ ì°¸ì¡° ëŒ€ìƒ í…Œì´ë¸”ì˜ **ê¸°ë³¸ í‚¤(PK)** ë˜ëŠ” \*\*ê³ ìœ  í‚¤(UNIQUE)\*\*ë¥¼ ì°¸ì¡°í•´ì•¼ í•¨</li><li>ì°¸ì¡° ëŒ€ìƒ í…Œì´ë¸”ì— ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ê°’ì„ ì…ë ¥í•  ìˆ˜ ì—†ìŒ</li></ul> |

##### âš«ï¸ ì‹¤ë¬´ ì˜ˆì‹œ: ì§ì›(emp) í…Œì´ë¸”ê³¼ ë¶€ì„œ(dept) í…Œì´ë¸”
| í…Œì´ë¸”    | ì»¬ëŸ¼ëª…           | ì„¤ëª…                        |
| ------ | ------------- | ------------------------- |
| `dept` | `deptno` (PK) | ë¶€ì„œ ë²ˆí˜¸ (ê¸°ë³¸ í‚¤)              |
| `emp`  | `deptno` (FK) | ì™¸ë˜ í‚¤: ë¶€ì„œ í…Œì´ë¸”ì˜ `deptno` ì°¸ì¡° |

In [ ]:
-- < foreign key (ì™¸ë¶€í‚¤) >
DESC dept;
ALTER TABLE í…Œì´ë¸”ëª…
ADD CONSTRAINT ì™¸ë¶€í‚¤ ì´ë¦„
FOREIGN KEY (í•„ë“œëª…)
REFERENCES ì°¸ì¡°í…Œì´ë¸”ëª…(ì°¸ì¡°í•„ë“œëª…)
ON DELETE CASCADE  -- ë¶€ëª¨ ë ˆì½”ë“œ ì‚­ì œ ì‹œ ìì‹ë„ ì‚­ì œ
ON UPDATE CASCADE  -- ë¶€ëª¨í‚¤ê°’ ë³€ê²½ ì‹œ ìì‹ë„ ìë™ìœ¼ë¡œ ë³€ê²½

SELECT * FROM dept;

-- 1. ì°¸ì¡°í•˜ëŠ” í…Œì´ë¸”(dep)ì˜ deptê°€ ë°˜ë“œì‹œ primaryê±°ë‚˜ uniqueì¡°ê±´ì„ ë§Œì¡±í•´ì•¼ í•œë‹¤.
-- 2. ë°ì´í„° íƒ€ì…ì´ ë™ì¼ í•´ì•¼í•œë‹¤.

ALTER TABLE emp ADD constraint fk_emp_dept
FOREIGN KEY (deptno) 
references dept(deptno);
-- í…Œì´ë¸” ìƒí˜¸ê°„ì— ì œì•½ì¡°ê±´ì´ ë°©ìƒí•œë‹¤.
-- SHOW CREATE TABLE emp\G;

SELECT * FROM dept;
DELETE FROM dept WHERE deptno = 10;  -- ì˜¤ë¥˜ê°€ ë§ìŒ / ì™¸ë¶€í‚¤ ë•Œë¬¸ì— ì‚­ì œ ë¶ˆê°€



-- í™ê¸¸ë™í•œí…Œ ë¶€ì„œë²ˆí˜¸ ë¶€ì—¬í•˜ê¸° 
SELECT * FROM emp;
UPDATE emp SET deptno =50 WHERE empno=8000;  -- ì˜¤ë¥˜ ë‚˜ëŠ” ê²ƒì´ ë§ìŒ

<br><br><br><br>

# ğŸŸ© join

- JOINì€ ë‘ ê°œ ì´ìƒì˜ í…Œì´ë¸”ì„ ê³µí†µëœ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì—°ê²°í•˜ì—¬ ì¡°íšŒí•  ë•Œ ì‚¬ìš©í•©ë‹ˆë‹¤.
- inner / outer / full - ansi í‘œì¤€
- emp í…Œì´ë¸”ì—ëŠ” ë¶€ì„œë²ˆí˜¸ë§Œ ìˆë‹¤.
- dept í…Œì´ë¸”ì—ëŠ” ë¶€ë²ˆí˜¸ì™€ ë¶€ì„œëª…ì„ ì•Œê³  ì‹¶ë‹¤.
- ë‘ê°œ ì´ìƒì˜ í…Œì´ë¸”ì„ ë¬¶ì–´ì„œ ìƒˆë¡œìš´ ì •ë³´ë¥¼ ì°½ì¶œí•œë‹¤.

In [ ]:
-- ---------------------------------
-- < inner join > : ë‘ í…Œì´ë¸”ì—ì„œ ì„œë¡œ ê³µí†µëœ ì¡°ê±´ì— ë§ëŠ” í–‰(row)ë§Œ ê²°í•©í•´ì„œ ë³´ì—¬ì£¼ëŠ” JOIN
-- ì´ê±°ëŠ” query í‘œì¤€ì´ ì•„ë‹ˆê¸° ë•Œë¬¸ì— ë‹¤ë¥¸ DBMSì—ì„œëŠ” ì—ëŸ¬ê°€ ë‚  ìˆ˜ ìˆë‹¤. (oracle, mysqlë§Œ ê°€)
SELECT A.empno, A.ename, A.demtno, B.dname
FROM emp A, dept B
WHERE A.deptno = B.deptno;   -- JOIN ì¡°ê±´ì´ ë™ë“±ì¡°ê±´  (equl ì¡°ê±´)


-- í‘œì¤€ join 
SELECT A.empno, A.ename, A.demtno, B.dname
FROM emp A
INNER JOIN dept B ON A.deptno = B.deptno

SELECT * FROM emp;


-- íšŒì›ë²ˆí˜¸ê°€ 7566, 7788, 7902, 7934, 8000 
SELECT A.empno, A.ename, A.deptno, B.dname
FROM emp A, dept B
WHERE  A.deptno = B.deptno AND
A.empno IN (7566, 7788, 7902, 7934, 8000);
-- ë‹¨ì  : ì¡°ì¸ ì¡°ê±´ê³¼ ê²€ìƒ‰ì¡°ê±´ì´ êµ¬ë¶„ì´ ì•ˆê°„ë‹¤. ê·¸ë˜ì„œ ì¡°ì¸ì´ ì—¬ëŸ¬ë²ˆ ì´ë¤„ì§ˆ ê²½ìš°ì— ë³´ê¸° ì•ˆì¢‹ë‹¤.


-- inner join ì€ ì–‘ìª½ í…Œì´ë¸”ì— ê°’ì´ ì¡´ì¬í•  ë•Œ ëœë‹¤.
SELECT A.empno, A.ename, A.deptno, B.dname
FROM emp A
INNER JOIN dept B ON A.deptno = B.deptno
WHERE A.empno IN (7566, 7788, 7902, 7934, 8000);


-- ---------------------------------
-- < outer join > : left, right
-- from ì ˆì— ê°€ê¹Œìš´ í…Œì´ë¸” left (left í…Œì´ë¸”ì˜ ë°ì´í„° ë‹¤ì¶œë ¥ )
-- form ì ˆë¡œë¶€í„° ë¨¼ í…Œì´ë¸”ì´ right  (right í…Œì´ë¸”ì˜ ë°ì´í„° ë‹¤ ì¶œë ¥ )
SELECT A.empno, A.ename, A.deptno, B.dname
FROM emp A
LEFT OUTER JOIN dept B ON A.deptno = B.deptno;
-- GPT : ë‘˜ ë‹¤ í•œìª½ í…Œì´ë¸”ì˜ ëª¨ë“  ë°ì´í„°ëŠ” ë¬´ì¡°ê±´ ì¶œë ¥í•˜ê³ , ë‹¤ë¥¸ ìª½ í…Œì´ë¸”ì˜ ë°ì´í„°ëŠ” ì¡°ê±´ì— ë§ëŠ” ê²ƒë§Œ ì¶œë ¥


-- ---------------------------------
-- ì¤‘ë³µì„± ë°°ì œ  
-- right outer join
SELECT DISTINCT deptno FROM emp;

SELECT A.empno, A.ename, A.deptno, B.dname
FROM emp A
right OUTER JOIN dept B ON A.deptno = B.deptno;
-- 40ë²ˆì´ í• ë‹¹ì„ ëª» ë°›ì€ ê²ƒìœ¼ë¡œ ë‚˜ì˜µë‹ˆë‹¤.

In [ ]:
-- ---------------------------------
-- < join practice >
-- actor_id, first_name, last_name
USE sakila;

SELECT * FROM actor LIMIT 10;
SELECT * FROM film LIMIT 10;
-- ë°°ìš°ê°€ ëˆ„êµ°ì§€ ì•Œ ìˆ˜ê°€ ì—†ë‹¤... 


-- ì–´ë–¤ ë°°ìš°ê°€ ì–´ë–¤ ì˜í™”ì— ì¶œì—°í–ˆëŠ”ì§€ ì•Œê³  ì‹¶ë‹¤...
SELECT * FROM film_actor LIMIT 10;


-- ì˜í™” í•„ë¦„ ê¸°ì¤€ìœ¼ë¡œ join 
SELECT title, description, B.actor_id,
concat(C.last_name, '', C.first_name) actor_name
FROM film A
LEFT OUTER JOIN film_actor B ON A.film_id = B.film_id
LEFT OUTER JOIN actor C ON B.actor_id = C.actor_id



-- ============================================
-- ë¬¸ì œ 1
-- categoryê°€ conmedyì¸ ì˜í™” ëª©ë¡ë§Œ
-- film, category, film_category

SELECT * FROM category LIMIT 20;  -- 5
SELECT * FROM film_category LIMIT 20;
SELECT * FROM film LIMIT 20;

-- ì‹œë„ 1
SELECT A.category_id, B.category_id 
FROM category A
LEFT OUTER JOIN film_category B ON A.category_id = B.category_id;
-- LEFT OUTER JOIN actor C ON B.actor_id = C.actor_id

-- ì‹œë„2
SELECT A.category_id, B.category_id 
FROM category A
LEFT OUTER JOIN film_category B ON A.category_id = B.category_id
LEFT OUTER JOIN film C ON B.category_id = C.film_id
WHERE A.name = 'Comedy';

-- ê°™ì´ í’€ì–´ë³´ê¸° 
SELECT title 
FROM film A
LEFT OUTER JOIN film_category B ON A.film_id = B.film_id
LEFT OUTER JOIN category C ON B.category_id = C.category_id
WHERE C.name = 'Comedy';



-- ============================================
-- ë¬¸ì œ 2
-- ê³ ê°ì˜ ì´ë¦„ê³¼ ê³ ê°ì´ ëŒ€ì—¬ í•œ ì˜í™” ì œëª©ì„ ëª¨ë‘ ì¶œë ¥í•˜ì 
-- customer, rental, invetory, film
-- inventory_id, store_id, film_id

-- !!!! ë°©ë²•ì„ ì•Œì•„ëƒˆìŠµë‹ˆë‹¤. ì´ëŸ° ê·œì¹™ì„ ì™œ ì•ˆì•Œë ¤ì£¼ëŠ”ì§€ ëª¨ë¥´ê² ì§€ë§Œ....
SELECT * FROM customer LIMIT 20;     -- 1. ë¨¼ì € êµ¬í•  ê°’ì„ ì •í•œë‹¤.
		-- 2. ê´€ë ¨ ìˆëŠ” ë°ì´í„°ë“¤ì˜ ê³µí†µì ì„ íŒŒì•…í•œë‹¤. ê·¸ë˜ì„œ ë‹¤ ê°€ì ¸ì˜¨ë‹¤. (like rental, inventory, film)
SELECT * FROM rental LIMIT 20;     -- 3. 
SELECT * FROM inventory LIMIT 20;
SELECT * FROM film LIMIT 20;

 -- ë‚´ê°€ ì§ì ‘ í’€ì–´ë³´ê¸°! (ì„±ê³µ)
SELECT A.first_name, A.last_name, B.rental_date, D.title
FROM customer A
LEFT OUTER JOIN rental B ON A.customer_id = B.customer_id
LEFT OUTER JOIN inventory C ON B.inventory_id = C.inventory_id
LEFT OUTER JOIN film D ON C.film_id = D.film_id
LIMIT 10;

-- ê°™ì´ í’€ì–´ë³´ê¸° (concatì„ ì¶”ê°€í•˜ê³  í…Œì´ë¸” ëª…ì¹˜ê¹Œì§€ë³€ê²½í•˜ëŠ” ë°©ë²•ì„ ì•Œê²Œ ë˜ì—ˆìŠµë‹ˆë‹¤.)
SELECT concat(A.first_name, "  ", A.last_name) name, B.rental_date, D.title
FROM customer A
LEFT OUTER JOIN rental B ON A.customer_id = B.customer_id
LEFT OUTER JOIN inventory C ON B.inventory_id = C.inventory_id
LEFT OUTER JOIN film D ON C.film_id = D.film_id
LIMIT 10;



-- ========================================================
-- ë¬¸ì œ 3 : NICK WAHLBERG ë¼ëŠ” ë°°ìš°ê°€ ì¶œì—°í•œ ì˜í™”ì˜ ì œëª© ì¡°íšŒí•˜ê¸°

SELECT * FROM actor LIMIT 20;
SELECT * FROM film_actor LIMIT 20;
SELECT * FROM film LIMIT 20;


SELECT concat(A.first_name, "  ", A.last_name) name, C.title
FROM actor A
LEFT OUTER JOIN film_actor B ON A.actor_id = B.actor_id
LEFT OUTER JOIN film C ON B.film_id = C.film_id
WHERE A.first_name = 'NICK' AND A.last_name = 'WAHLBERG'
LIMIT 10;

-- ê°™ì´ í’€ì–´ë³´ê¸° ( inner joinìœ¼ë¡œë„ í•  ì¤„ ì•Œì•„ì•¼ í•©ë‹ˆë‹¤.)
SELECT CONCAT(A.first_name, ' ', A.last_name) AS name, C.title
FROM actor A
INNER JOIN film_actor B ON A.actor_id = B.actor_id
INNER JOIN film C ON B.film_id = C.film_id
WHERE A.first_name = 'NICK' AND A.last_name = 'WAHLBERG'
LIMIT 10;



-- ========================================================
-- ë¬¸ì œ 4 : London ë„ì‹œì˜ ê³ ê° ì´ë¦„ë§Œ ì¶œë ¥ 

SELECT * FROM customer LIMIT 20;
SELECT * FROM address LIMIT 20;
SELECT * FROM city LIMIT 20;

SELECT concat(A.first_name, "  ", A.last_name) name, C.city
FROM customer A
LEFT OUTER JOIN address B ON A.address_id = B.address_id
LEFT OUTER JOIN city C ON B.city_id = C.city_id
WHERE C.city = 'London'

-- ê°™ì´ í’€ì–´ë³´ê¸°
SELECT concat(A.first_name, "  ", A.last_name) name, C.city
FROM customer A 
JOIN address B ON A.address_id = B.address_id
JOIN city C ON B.city_id = C.city_id
WHERE C.city = 'London'

<br><br><br><br>

# ğŸŸ© Subquery (ì„œë¸Œì¿¼ë¦¬)

- ì„œë¸Œì¿¼ë¦¬(Subquery)ë€, ì¿¼ë¦¬ ì•ˆì— í¬í•¨ëœ ë˜ ë‹¤ë¥¸ ì¿¼ë¦¬
- ì£¼ë¡œ ê´„í˜¸ () ì•ˆì— ë“¤ì–´ê°€ë©°, **ë©”ì¸ ì¿¼ë¦¬(main query)**ì—ì„œ ê²°ê³¼ë¥¼ í™œìš©


| ì¢…ë¥˜              | ìœ„ì¹˜      | ì„¤ëª…        | ì˜ˆì‹œ                                               |
| ---------------- | -------- | ---------- | ------------------------------------------------- |
| **ìŠ¤ì¹¼ë¼ ì„œë¸Œì¿¼ë¦¬**    | SELECT ì ˆ | í•œ ê°œì˜ ê°’ì„ ë°˜í™˜ | `SELECT (SELECT MAX(salary) FROM emp)`         |
| **ì¸ë¼ì¸ ë·°**        | FROM ì ˆ   | í…Œì´ë¸”ì²˜ëŸ¼ ì‚¬ìš©   | `FROM (SELECT * FROM emp WHERE deptno=10) AS sub` |
| **ì„œë¸Œì¿¼ë¦¬ WHERE ì ˆ** | WHERE ì ˆ  | ì¡°ê±´ì— ë”°ë¼ í•„í„°ë§ | `WHERE empno IN (SELECT empno FROM ...)`         |
| **EXISTS ì„œë¸Œì¿¼ë¦¬**  | WHERE ì ˆ  | ì¡´ì¬ ì—¬ë¶€ë§Œ í™•ì¸  | `WHERE EXISTS (SELECT * FROM ...)`              |


- join ì†ë„ë¥¼ ë¹ ë¥´ê²Œ í•˜ë ¤ë©´, join í•„ë“œì— ì¸ë±ìŠ¤ë¥¼ ë§Œë“¤ì–´ì¤˜ì•¼ í•œë‹¤.

- subQuery : ì„œë¸Œì¿¼ë¦¬ëŠ” ì£¼ ì¿¼ë¦¬ ì˜†ì—ì„œ ì£¼ì›Œë¦¬ë³´ë‹¤ ë¨¼ì € ì‹¤í–‰ë˜ì„œ ê²°ê³¼ë¥¼ ê°€ì ¸ì˜¨ ë‹¤ìŒì— ì£¼ì¿¼ë¦¬ê°€ ì‹¤í–‰ëœë‹¤.

- ì„œë¸Œì¿¼ë¦¬ëŠ” select ì ˆ, from ì ˆ, where, order, by ì ˆ ë“± ek rksdmgkek.
  - select ì ˆ
    - ìŠ¤ì¹¼ë¼ ì„œë¸Œ ì¿¼ë¦¬, ê²°ê³¼ê°’ì´ nullì´ê±°ë‚˜ í•œê°œë§Œ ê°€ì ¸ì˜¤ëŠ” ì¿¼ë¦¬
    - joinì„ ëŒ€ì²´í•  ìˆ˜ ìˆë‹¤. ìš°ë¦¬ê°€ ë³¼ ë–„ í¸í•´ë³´ì„, ì¡°ì¸ì´ ì¼ë°˜ì ìœ¼ë¡œ ë” ë¹ ë¥´ë‹¤.
    - ê°€ê¸‰ì  joinìœ¼ë¡œ í•´ê²°í•˜ê³ , join ì•ˆë  ê²½ìš° ì„œë¸Œì¿¼ë¼ë¥¼ ì‚¬ìš©í•˜ì!

In [ ]:
-- =============================================
-- ìŠ¤ì¹¼ë¼ ì„œë¸Œì¿¼ë¦¬ - select 

USE mydb;

-- ì‚¬ì› ë²ˆí˜¸, ì‚¬ì› ì´ë¦„, ë¶€ì„œëª…ì„ ê°€ì ¸ì˜¤ë ¤ê³  í•œë‹¤.
SELECT empno, ename, deptno
FROM emp;

SELECT dname, deptno FROM dept WHERE deptno = 10;

SELECT * FROM address LIMIT 20;
SELECT * FROM city LIMIT 20;

-- SELECT empno, ename, deptno,
-- (SELECT dname, deptno FROM dept WHERE deptno = 10) AS dname
-- FROM emp;


SELECT empno, ename, deptno,
(SELECT dname FROM dept B WHERE A.deptno = B.deptno) AS dname
FROM emp A;

-- --------------------------------

USE sakila;

SELECT * FROM actor LIMIT 20;
SELECT * FROM film_actor LIMIT 20;
SELECT * FROM film LIMIT 20;

SELECT A.first_name, A.last_name, B.film_id
FROM actor A
LEFT OUTER JOIN film_actor B ON A.actor_id = B.actor_id;

-- join + ì„œë¸Œì¿¼ë¦¬ selectì ˆ ì‚¬ìš©í•˜ê¸°   (êµ³ì´ ì´ë ‡ê²Œ ì‚¬ìš©í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.)
SELECT A.first_name, A.last_name, B.film_id,
(SELECT title FROM film C WHERE B.film_id = C.film_id) AS title
,(SELECT length FROM film C WHERE B.film_id = C.film_id) AS length
FROM actor A
LEFT OUTER JOIN film_actor B ON A.actor_id = B.actor_id;




-- =============================================
-- from ì ˆ : ë‹¤ì¤‘í–‰ì„ ë°˜í™˜í•œë‹¤. ë‹¤ì¤‘í–‰ ì„œë¸Œì¿¼ë¦¬, ì¸ë¼ì¸ë·° 

USE mydb;

SELECT * FROM dept LIMIT 10;  -- dname
SELECT * FROM emp LIMIT 10;  -- ename

SELECT * FROM emp WHERE deptno IN (10, 20);  -- ì—¬ê¸°ì—ì„œ ì‚¬ì›ì´ë¦„, ë¶€ì„œëª…ë§Œ ë‚˜ì˜¤ê²Œ í•˜ê³ ì‹¶ë‹¤. 

SELECT A.ename, dname
FROM (
							SELECT * FROM emp WHERE deptno IN (10, 20)
) AS A
JOIN dept B ON A.deptno = B.deptno			




-- =============================================
-- inline view

USE sakila;

-- film_id : ambigous
SELECT A.film_id, title, length, actor_id
FROM film A
LEFT OUTER JOIN film_actor B ON A.film_id = B.film_id;

-- ! ì¸ë¼ì¸ ë·° !!!!!
SELECT first_name, last_name, title
FROM actor A
LEFT OUTER JOIN (
						SELECT A.film_id, title, length, actor_id
						FROM film A
						LEFT OUTER JOIN film_actor B ON A.film_id = B.film_id
						-- ì¸ë¼ì¸ë·°ë¼ê³  ë¶€ë¥¸ë‹¤.
) B ON A.actor_id = B.actor_id




-- =============================================
-- where ì ˆ 

USE mydb;

-- emp í…Œì´ë¸”ì— smithë¼ëŠ” ì‚¬ëŒì˜ ë¶€ì„œì™€ ê°™ì€ ë¶€ì„œì— ìˆëŠ” ì‚¬ëŒë“¤ 
SELECT * FROM dept LIMIT 10;  -- dname
SELECT * FROM emp LIMIT 21;  -- ename

SELECT deptno FROM emp WHERE ename ='ALLEN';


SELECT * FROM emp WHERE deptno = 20;

-- ì—¬ê¸° ì´ë ‡ê²Œ í–ˆìŠµë‹ˆë‹¤. 
SELECT * FROM emp 
WHERE deptno = (SELECT deptno FROM emp WHERE ename = 'ALLEN');



-- =============================================
-- ê°™ì´í‘¸ëŠ” ë¬¸ì œ: ë¶€ì„œ í‰ê·  ê¸‰ì—¬ë³´ë‹¤ ê¸‰ì—¬ê°€ ë§ì€ ì‚¬ì› ì¡°íšŒ

SELECT * FROM emp LIMIT 10;

SELECT * FROM emp 
WHERE sal > (SELECT avg(sal) FROM emp); 



-- =============================================
-- ê°™ì´ í‘¸ëŠ” ë¬¸ì œ: ALLEN ê°€ ê·¼ë¬´í•˜ëŠ” ë¶€ì„œì˜ ê¸‰ì—¬ í‰ê· ë³´ë‹¤ ê¸‰ì—¬ë¥¼ ë°›ëŠ” ì‚¬ëŒë“¤ ì •ë³´ë¥¼  í™•ì¸í•˜ê³ ì í•œë‹¤.

SELECT avg(sal) FROM emp WHERE deptno = (SELECT deptno FROM emp WHERE  ename = 'ALLEN');

-- 3ì¤‘ ì¿¼ë¦¬ ë˜ì–´ë²„ë¦¼...
SELECT ename, sal FROM emp
WHERE sal > (SELECT avg(sal) 
														FROM emp WHERE deptno = (SELECT deptno FROM emp WHERE ename = 'ALLEN'));




-- =============================================
-- ë¬¸ì œ 1

-- ê°€ì¥ ë†’ì€ ê¸‰ì—¬ë¥¼ ë°›ëŠ” ì‚¬ì› ì •ë³´ ì¡°íšŒí•˜ê¸° MAX
SELECT * FROM emp LIMIT 20;


SELECT * FROM emp WHERE sal = MAX(sal); 

SELECT ename, sal FROM emp 
WHERE sal = (SELECT MAX(sal) FROM emp);  


-- ë§¤ë‹ˆì €ê°€ ì¡´ì¬í•˜ëŠ” ì›ë§Œ ì¡°íšŒ 
-- ë‚˜ì˜ mgr í•„ë“œê°€ emp í…Œì´ë¸”ì— ì¡´ì¬í•˜ëŠëƒ???
SELECT * 
FROM emp 
WHERE mgr IS NOT NULL;

SELECT * 
FROM emp 
WHERE mgr IN (SELECT empno FROM emp);



-- ============================================
-- ê¸°ì¡´ JOIN ë¬¸ì œë¥¼ ì„œë¸Œì¿¼ë¦¬ë¡œ ë°”ê¾¸ëŠ” ë¬¸ì œ 
-- ============================================
-- ë¬¸ì œ 2
-- ê³ ê°ì˜ ì´ë¦„ê³¼ ê³ ê°ì´ ëŒ€ì—¬ í•œ ì˜í™” ì œëª©ì„ ëª¨ë‘ ì¶œë ¥í•˜ì 
-- customer, rental, invetory, film
-- inventory_id, store_id, film_id

USE sakila;

SELECT * FROM customer LIMIT 20;   
SELECT * FROM rental LIMIT 20;     -- 3. 
SELECT * FROM inventory LIMIT 20;
SELECT * FROM film LIMIT 20;

 -- ë‚´ê°€ ì§ì ‘ ëª» í’€ì—ˆ

-- ê°™ì´ í’€ì–´ë³´ê¸° (concatì„ ì¶”ê°€í•˜ê³  í…Œì´ë¸” ëª…ì¹˜ê¹Œì§€ë³€ê²½í•˜ëŠ” ë°©ë²•ì„ ì•Œê²Œ ë˜ì—ˆìŠµë‹ˆë‹¤.)
SELECT concat(A.first_name, "  ", A.last_name) name,
	(SELECT title from film D where C.film_id = D.film_id) AS title
FROM customer A
LEFT OUTER JOIN rental B ON A.customer_id = B.customer_id
LEFT OUTER JOIN inventory C ON B.inventory_id = C.inventory_id
left outer join film D on D.film_id=C.film_id
LIMIT 10;




-- ========================================================
-- ë¬¸ì œ 3 : NICK WAHLBERG ë¼ëŠ” ë°°ìš°ê°€ ì¶œì—°í•œ ì˜í™”ì˜ ì œëª© ì¡°íšŒí•˜ê¸°

/*
SELECT concat(A.first_name, "  ", A.last_name) name, C.title
FROM actor A
LEFT OUTER JOIN film_actor B ON A.actor_id = B.actor_id
LEFT OUTER JOIN film C ON B.film_id = C.film_id
WHERE A.first_name = 'NICK' AND A.last_name = 'WAHLBERG'
LIMIT 10;
*/

USE sakila

SELECT * FROM actor LIMIT 20;
SELECT * FROM film_actor LIMIT 20;
SELECT * FROM film LIMIT 20;

-- ê°™ì´ í’€ì–´ë³´ê¸° 
SELECT (SELECT title FROM film C WHERE B.film_id = C.film_id) AS title
FROM actor AS 
INNER JOIN film_actor B ON A.actor_id = B.actor_id
WHERE A.first_name='NICK' and A.last_name='WAHLBERG';



SELECT CONCAT(A.first_name, ' ', A.last_name) AS name, C.title
FROM actor A
JOIN film_actor B ON A.actor_id = B.actor_id
JOIN film C ON B.film_id = C.film_id
WHERE A.actor_id = (
  SELECT actor_id
  FROM actor
  WHERE first_name = 'NICK' AND last_name = 'WAHLBERG'
  LIMIT 1
)
LIMIT 10;

## ğŸŸ¢ Correlated Subquery (ìƒê´€ ì„œë¸Œì¿¼ë¦¬)

- ìƒê´€ì¿¼ë¦¬ : ì™¸ë¶€ ì¿¼ë¦¬ì˜ ê°’ì„ë‚´ë¶€ ì¿¼ë¦¬ì—ì„œ ì°¸ì¡°í•˜ëŠ” ì„œë¸Œì¿¼ë¦¬ë¥¼ ë§í•œë‹¤.
- ì™¸ë¶€ ì¿¼ë¦¬ì˜ ê° í–‰ë§ˆë‹¤ ë‚´ë¶€ ì¿¼ë¦¬ê°€ ì‹¤í–‰ë˜ëŠ” êµ¬ì¡°

- exists, any, all, in ë“±ì´ ìˆë‹¤.

  - exists : ì„œë¸Œì¿¼ë¦¬ì˜  ì‹¤í–‰ê²°ê³¼ê°€ í•˜ë‚˜ë¼ê³  ìˆìœ¼ë©´ True  / 1ê°œë¼ë„ ì—†ìœ¼ë©´ False ë°˜í™˜
    - ì„œë¸Œì¿¼ë¦¬ì˜ ì‹±í–‰ ê²°ê³¼ê°€ í•œê±´ì´ë¼ë„ ìˆìœ¼ë©´ ì‹¤í–‰ëœë‹¤.  

  - Any
    - ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ”ê²Œ í•˜ë‚˜ë¼ë„ ìˆìœ¼ë©´ ìˆ˜í–‰ 
    - ë¶€ë“±í˜¸ or ë¶€ë“±í˜¸ or ë¶€ë“±í˜¸ or ë¶€ë“±í˜¸ or ë¶€ë“±í˜¸

  - all
    - ëª¨ë“  ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” ë¶€ë“±í˜¸ and ë¶€ë“±í˜¸ and ë¶€ë“±í˜¸ and ë¶€ë“±í˜¸ and

  - in 
    - ë“±í˜¸ or ë“±í˜¸ or ë“±í˜¸ or

In [ ]:
-- ë¶€ì„œë³„ í‰ê·  ê¸‰ì—¬ë³´ë‹¤ ë†’ì€ ì‚¬ì›ì¡°íšŒ
-- ë¶€ì„œë³„ í‰ê· ê°’ì´ í•„ìš”
USE mydb;

SELECT avg(sal) FROM emp WHERE deptno = 10;
SELECT avg(sal) FROM emp WHERE deptno = 20;
SELECT avg(sal) FROM emp WHERE deptno = 30;
SELECT avg(sal) FROM emp WHERE deptno = 40;

SELECT empno, sal, deptno FROM emp;

SELECT empno, sal, deptno FROM emp
WHERE sal > (SELECT avg(sal)FROM emp WHERE deptno=10);

-- ì´ê²ƒì„ ìƒê´€ì¿¼ë¦¬ë¼ê³  ë¶€ë¦…ë‹ˆë‹¤. 
-- ì™¸ë¶€ì˜ Aì˜ SubQuey(ë‚´ë¶€ì¿¼ë¦¬ )ì˜ deptnoê°€ ì„œë¡œ ê´€ê³„ê°€ ìˆì—ˆë‹¤.
SELECT empno, sal, deptno FROM emp A
WHERE sal > (SELECT avg(sal)FROM emp B WHERE B.deptno=A.deptno);




-- exists : ë§¤ë‹ˆì €ê°€ ì¡´ì¬í•˜ëŠ” ì‚¬ì›ë§Œ ì¡°íšŒí•˜ë ¤ê³  í•œë‹¤.

SELECT empno, ename, mgr FROM emp;

SELECT ename FROM emp WHERE mgr=7788;

-- ì„œë¸Œì¿¼ë¦¬ì˜ ì‹¤í–‰ê²°ê³¼ê°€ í•˜ë‚˜ë¼ë„ ìˆìœ¼ë©´ ì™¸ë¶€ì¿¼ë¦¬ë¥¼ ì‹¤í–‰í•œë‹¤.
-- SELECT	* FROM emp WHERE EXISTS (ì„œë¸Œì¿¼ë¦¬)  -- ì„œë¸Œì¿¼ë¦¬ì˜ ê²°ê³¼ ìœ ë¬´ë§Œ ë”°ì§‘ë‹ˆë‹¤.

SELECT empno, ename, mgr FROM emp
WHERE EXISTS (
				SELECT ename FROM emp WHERE mgr=7788
);


-- ìƒê´€ ì¿¼ë¦¬ 
SELECT empno, ename, mgr FROM emp A
WHERE EXISTS (
				SELECT 1 FROM emp B WHERE A.mgr = B.empno
);

<br><br><br><br>

# ğŸŸ© w3schools DB ì˜ˆì œ

In [ ]:
USE w3schools;
-- https://www.w3schools.com/ 

-- í™•ì¸í•˜ê¸° 
SELECT * FROM orders LIMIT 10;

-- ì£¼ë¬¸ë‚´ì—­, ê³ ê°ì´ë¦„, íŒë§¤ì ì´ë¦„ ê¹Œì§€ë§Œ ì¶œë ¥í•´ë´ë¼

SELECT * FROM Orders
LIMIT 10;
SELECT * FROM EMPLOYEES
LIMIT 10;
SELECT * FROM customers
LIMIT 10;
SELECT * FROM OrderDetails
LIMIT 10;

-- ì§ì ‘ í’€ì–´ë³´ê¸° 
-- SELECT CstomerName, title
-- FROM ORDERS A
-- JOIN film_actor B ON A.actor_id = B.actor_id
-- JOIN film C ON B.film_id = C.film_id
-- WHERE A.first_name = 'NICK' AND A.last_name = 'WAHLBERG'
-- LIMIT 10;

-- ê°™ì´ í’€ì–´ë³´ê¸° 
SELECT A.*, B.customerName, concat(C.lastName, "  ", C.firstName) AS EmployeeName
FROM orders A
JOIN customers B ON A.customerId = B.customerId
JOIN EMPLOYEES C ON A.employeeId = C. employeeId;

-- ê³ ì¹˜ê¸° 
SELECT A.orderID, B.customerName, concat(C.lastName, "  ", C.firstName) AS EmployeeName
FROM orders A
JOIN customers B ON A.customerId = B.customerId
JOIN EMPLOYEES C ON A.employeeId = C. employeeId;



-- ===========================================
-- join ì•ˆì“°ê³  ì„œë¸Œì¿¼ë¦¬ë¡œ ë°”ê¾¸ê¸°

SELECT orderId,
	(SELECT customerId = B.customerId FROM customers B
		WHERE A.customerId = B.customerId) AS customerName
,
(SELECT concat(C.lastName, "  ", C.firstName)
FROM employees C
WHERE  A.employeeId = C.employeeId) AS employeeName
FROM orders A;


-- chatGPT ì œì‹œí•œ ë‚´ìš©  
SELECT 
  A.orderId,

  		-- ê³ ê° ì´ë¦„ ê°€ì ¸ì˜¤ê¸°
  (SELECT B.customerName 
   FROM customers B
   WHERE A.customerId = B.customerId) AS customerName,

  		-- ì§ì› ì´ë¦„ (ì„± + ì´ë¦„) ê°€ì ¸ì˜¤ê¸°
  (SELECT CONCAT(C.lastName, ' ', C.firstName)
   FROM employees C
   WHERE A.employeeId = C.employeeId) AS employeeName

FROM orders A;

-- ë¦¬ëˆ…ìŠ¤ MySQL ëŒ€ì†Œë¬¸ìë¥¼ ë”°ì§‘ë‹ˆë‹¤.

<br><br><br><br>

# ğŸŸ© Group By

In [ ]:
-- ì£¼ì˜ì‚¬í•­ :  ë¦¬ëˆ…ìŠ¤ MySQLì€ í•„ë“œëª…ì´ë‚˜ í…Œì´ë¸¡ëª…ì˜ ëŒ€ì†Œë¬¸ìë¥¼ ë”°ì§„ë‹¤.

-- ê·¸ë£¹í•¨ìˆ˜, avg, max, min, count, sum ....

USE mydb;

-- ì—ëŸ¬ ì˜ˆì‹œ 
SELECT ename, sal, avg(sal) FROM emp LIMIT 10;
-- ì´ ì½”ë“œëŠ” ì—ëŸ¬ê°€ ë‚©ë‹ˆë‹¤. 
-- ì´ìœ ëŠ” avg ë‚´ì¥í•¨ìˆ˜ëŠ” ename, sal ë³´ë‹¤ ê°¯ìˆ˜ê°€ ì ê¸° ë•Œë¬¸ì— ê°™ì´ ë‚˜ì˜¬ ìˆ˜ê°€ ì—†ë‹¤.


-- ì´ëŸ´ ë•Œ ì„œë¸Œì¿¼ë¦¬ë¥¼ ì“¸ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
SELECT ename, sal,
(SELECT avg(sal) FROM emp) as avg_sal
FROM emp;

-- ë¶€ë¶„í•©, ê·¸ë£¹ë³„ë¡œ ë¬¶ëŠ”ê²Œ ê°€ëŠ¥í•˜ë‹¤.
-- ê° ë¶€ì„œë³„ë¡œ ê¸‰ì—¬ í‰ê·  ì„ í™•ì¸í•˜ê³  ì‹¶ë‹¤.
-- ê·¸ë£¹í•¨ìˆ˜ëŠ” group by ì ˆì— ì˜¨ í•„ë“œëŠ” ì‚¬ìš©ê°€
SELECT deptno, avg(sal)
FROM emp
GROUP BY deptno;


-- ì´ë¦„ê³¼ ë¶€ì„œë²ˆí˜¸ ê¸‰ì—¬ ë¶€ì„œë³„ í‰ê· ì„ í™•ì¸í•˜ê³  ì‹¶ë‹¤.
SELECT 
			ename, 
			deptno, 
			(SELECT avg(sal) FROM emp B WHERE A.deptno = B.deptno) AS dept_sal
FROM emp A;


-- ì„œë¸Œì¿¼ë¦¬ì™€ join í•©ì¹˜
SELECT ename, A.deptno
FROM emp A
LEFT OUTER JOIN
			(SELECT deptno, avg(sal) dept_sal, sum(sal) sum_sal, max(sal) max_sal, min(sal) min_sal
				FROM emp 
				GROUP BY deptno) B
ON A.deptno = B.deptno



-- orders í…Œì´ë¸”ì—ì„œ ê³ ê°ë³„ ì£¼ë¬¸ ê°œìˆ˜ë¥¼ êµ¬í•˜ê³ , ì •ë ¬ ì£¼ë¬¸ìˆ˜ê°€ ë§ì€ ê³ ê°ë¶€í„° ë‚´ë¦¼ì°¨ìˆœ
-- ê³ ê°ì´ë¦„, ì£¼ë¬¸ì¹´ìš´íŠ¸

USE w3schools;

SELECT * FROM Orders LIMIT 10;
SELECT * FROM EMPLOYEES LIMIT 10;
SELECT * FROM customers LIMIT 10;
SELECT * FROM OrderDetails LIMIT 10;


-- ê°™ì´ í’€ì–´ë³´ê¸° 
SELECT customerId, count(customerId)
FROM orders
GROUP BY customerId
ORDER BY count(customerId) DESC;
-- where ì ˆì—ëŠ” group í•¨ìˆ˜ ì‚¬ìš© ëª»í•¨.


-- êµ¬ë§¤ê°œìˆ˜ê°€ 5ê°œ ì´ìƒë§Œ  
SELECT customerId, count(customerId)
FROM orders
GROUP BY customerId
-- WHERE count(customerId) >= 5      -- [ì¤‘ìš”]  where ì ˆì—ëŠ” group í•¨ìˆ˜ ì‚¬ìš© ëª»í•¨.
HAVING count(customerId) >= 5          -- ìˆœì„œë„ ì¤‘ìš”í•©ë‹ˆë‹¤.  GROUP BY  =>  HAVING
ORDER BY count(customerId) DESC;